.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/tasks.json
build/spyro1_PracticeCodes.bin
build/spyro1_PracticeCodes.cue
build/spyro1_PracticeCodes.xml
build/spyro1.bin
build/spyro1.xml
build/spyro1/license_data.dat
build/spyro1/PETEXA0.STR
build/spyro1/PETEXA1.STR
build/spyro1/PETEXA2.STR
build/spyro1/PETEXA3.STR
build/spyro1/PETEXA4.STR
build/spyro1/PETEXA5.STR
build/spyro1/SCUS_942.28
build/spyro1/SYSTEM.CNF
build/spyro1/WAD.WAD
build/spyro1/S0/CRASH.EXE
build/spyro1/S0/S000000D.NSD
build/spyro1/S0/S000000D.NSF
build/spyro1/S0/S000003C.NSD
build/spyro1/S0/S000003C.NSF
build/spyro1/S0/WARP.BIN
build/spyro1/SOURCE/SOURCE.TRD
build/spyro1_PracticeCodes/license_data.dat
build/spyro1_PracticeCodes/PETEXA0.STR
build/spyro1_PracticeCodes/PETEXA1.STR
build/spyro1_PracticeCodes/PETEXA2.STR
build/spyro1_PracticeCodes/PETEXA3.STR
build/spyro1_PracticeCodes/PETEXA4.STR
build/spyro1_PracticeCodes/PETEXA5.STR
build/spyro1_PracticeCodes/SCUS_942.28
build/spyro1_PracticeCodes/SYSTEM.CNF
build/spyro1_PracticeCodes/WAD.WAD
build/spyro1_PracticeCodes/S0/CRASH.EXE
build/spyro1_PracticeCodes/S0/S000000D.NSD
build/spyro1_PracticeCodes/S0/S000000D.NSF
build/spyro1_PracticeCodes/S0/S000003C.NSD
build/spyro1_PracticeCodes/S0/S000003C.NSF
build/spyro1_PracticeCodes/S0/WARP.BIN
build/spyro1_PracticeCodes/SOURCE/SOURCE.TRD
mods/PracticeCodes/crash.log
mods/PracticeCodes/Makefile
mods/PracticeCodes/offset.txt
mods/PracticeCodes/overlay.ld
mods/PracticeCodes/debug/mod.elf
mods/PracticeCodes/debug/mod.map
mods/PracticeCodes/debug/redux.map
mods/PracticeCodes/debug/source.txt
mods/PracticeCodes/debug/dep/hook.dep
mods/PracticeCodes/debug/dep/levelselect.dep
mods/PracticeCodes/debug/dep/main.dep
mods/PracticeCodes/debug/obj/hook.o
mods/PracticeCodes/debug/obj/levelselect.o
mods/PracticeCodes/debug/obj/main.o
mods/PracticeCodes/output/asmhooks.bin
mods/PracticeCodes/output/MainFunc.bin
mods/PracticeCodes/plugins/__pycache__/plugin.cpython-310.pyc
build/PS2 Disc Practice Codes.zip
build/spyro1_PracticeCodes.xdelta
