.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/tasks.json
build/spyro1_PracticeCodes.bin
build/spyro1_PracticeCodes.cue
build/spyro1_PracticeCodes.xml
build/spyro1.bin
build/spyro1.xml
build/spyro1/license_data.dat
build/spyro1/PETEXA0.STR
build/spyro1/PETEXA1.STR
build/spyro1/PETEXA2.STR
build/spyro1/PETEXA3.STR
build/spyro1/PETEXA4.STR
build/spyro1/PETEXA5.STR
build/spyro1/SCUS_942.28
build/spyro1/SYSTEM.CNF
build/spyro1/WAD.WAD
build/spyro1/S0/CRASH.EXE
build/spyro1/S0/S000000D.NSD
build/spyro1/S0/S000000D.NSF
build/spyro1/S0/S000003C.NSD
build/spyro1/S0/S000003C.NSF
build/spyro1/S0/WARP.BIN
build/spyro1/SOURCE/SOURCE.TRD
build/spyro1_PracticeCodes/license_data.dat
build/spyro1_PracticeCodes/PETEXA0.STR
build/spyro1_PracticeCodes/PETEXA1.STR
build/spyro1_PracticeCodes/PETEXA2.STR
build/spyro1_PracticeCodes/PETEXA3.STR
build/spyro1_PracticeCodes/PETEXA4.STR
build/spyro1_PracticeCodes/PETEXA5.STR
build/spyro1_PracticeCodes/SCUS_942.28
build/spyro1_PracticeCodes/SYSTEM.CNF
build/spyro1_PracticeCodes/WAD.WAD
build/spyro1_PracticeCodes/S0/CRASH.EXE
build/spyro1_PracticeCodes/S0/S000000D.NSD
build/spyro1_PracticeCodes/S0/S000000D.NSF
build/spyro1_PracticeCodes/S0/S000003C.NSD
build/spyro1_PracticeCodes/S0/S000003C.NSF
build/spyro1_PracticeCodes/S0/WARP.BIN
build/spyro1_PracticeCodes/SOURCE/SOURCE.TRD
mods/PracticeCodes/crash.log
mods/PracticeCodes/Makefile
mods/PracticeCodes/offset.txt
mods/PracticeCodes/overlay.ld
mods/PracticeCodes/debug/mod.elf
mods/PracticeCodes/debug/mod.map
mods/PracticeCodes/debug/redux.map
mods/PracticeCodes/debug/source.txt
mods/PracticeCodes/debug/dep/hook.dep
mods/PracticeCodes/debug/dep/levelselect.dep
mods/PracticeCodes/debug/dep/main.dep
mods/PracticeCodes/debug/obj/hook.o
mods/PracticeCodes/debug/obj/levelselect.o
mods/PracticeCodes/debug/obj/main.o
mods/PracticeCodes/output/asmhooks.bin
mods/PracticeCodes/output/MainFunc.bin
mods/PracticeCodes/plugins/__pycache__/plugin.cpython-310.pyc
build/PS2 Disc Practice Codes.zip
build/spyro1_PracticeCodes.xdelta
.vscode/launch.json
mods/PracticeCodes/debug/dep/hud_hook.dep
mods/PracticeCodes/debug/obj/hud_hook.o
mods/PracticeCodes/output/asmhud_hooks.bin
mods/PracticeCodes/output/Hud.bin
.gitignore
mods/PracticeCodes/src/hud.o
mods/PracticeCodes/src/hud.dep
mods/PracticeCodes/mod.map
mods/PracticeCodes/src/levelselect.o
mods/PracticeCodes/src/levelselect.dep
mods/PracticeCodes/src/main.dep
.gitignore
mods/PracticeCodes/src/main.o
mods/PracticeCodes/asm/hook.dep
.gitignore
mods/PracticeCodes/asm/hook.o
mods/PracticeCodes/asm/hud_hook.dep
mods/PracticeCodes/asm/hud_hook.o
mods/PracticeCodes/buildList.txt
mods/PracticeCodes/debug/obj/hud.o
mods/PracticeCodes/debug/dep/hud.dep
mods/PracticeCodes/debug/dep/hud_hooks.dep
mods/PracticeCodes/debug/obj/hud_hooks.o
mods/PracticeCodes/output/asmhud_hookss.bin
mods/PracticeCodes/asm/hud_hooks.s
mods/PracticeCodes/src/hud.c
mods/PracticeCodes/asm/hud_hooks.s
mods/PracticeCodes/src/hud.c
.gitignore
mods/PracticeCodes/src/hud.c
mods/PracticeCodes/asm/hud_hooks.s

build/PS2 Spyro 1 Disk Codes.zip.tmp
mods/PracticeCodes/asm/hud_hooks.dep
mods/PracticeCodes/asm/hud_hooks.o
build/PS2 Spyro 1 Disk Codes.zip
build/PS2 Spyro 1 Disc Codes.zip
mods/PracticeCodes/debug/dep/IGT.dep
mods/PracticeCodes/debug/dep/custom_text.dep
mods/PracticeCodes/debug/obj/custom_text.o
mods/PracticeCodes/debug/obj/IGT.o
mods/PracticeCodes/output/IGT.bin
plugins/__pycache__/plugin.cpython-311.pyc
.gitignore
build/bootedit/BootEdit.exe
build/bootedit/boothelp.chm
build/bootedit/boottext.txt
build/bootedit/CatFlap.dll
build/bootedit/spyro1.bin
build/bootedit/spyro1.cue
build/bootedit/TMD_models/1texcube.TMD
build/bootedit/TMD_models/83_Chevy_Camaro_Red.TMD
build/bootedit/TMD_models/83chevicamaro_Blue.TMD
build/bootedit/TMD_models/83chevicamaro_Green.TMD
build/bootedit/TMD_models/83chevicamaro.TMD
build/bootedit/TMD_models/ALICATE-BRONCE.TMD
build/bootedit/TMD_models/alicate-COBRE.TMD
build/bootedit/TMD_models/alicate-oro.TMD
build/bootedit/TMD_models/ALICATE.TMD
build/bootedit/TMD_models/AMATIST.TMD
build/bootedit/TMD_models/AMORFO.TMD
build/bootedit/TMD_models/ARM.TMD
build/bootedit/TMD_models/Assnes.tmd
build/bootedit/TMD_models/ASUSTADO.TMD
build/bootedit/TMD_models/avioncito.TMD
build/bootedit/TMD_models/barn.TMD
build/bootedit/TMD_models/C_13.TMD
build/bootedit/TMD_models/C13.TMD
build/bootedit/TMD_models/camaro.TMD
build/bootedit/TMD_models/CANAL13.TMD
build/bootedit/TMD_models/CAPSULA.TMD
build/bootedit/TMD_models/chevicamaro.TMD
build/bootedit/TMD_models/chiile.TMD
build/bootedit/TMD_models/CHILE.TMD
build/bootedit/TMD_models/CHILE1.TMD
build/bootedit/TMD_models/CHILE2.TMD
build/bootedit/TMD_models/CHILE3.TMD
build/bootedit/TMD_models/CHILI.TMD
build/bootedit/TMD_models/clip.TMD
build/bootedit/TMD_models/clock.tmd
build/bootedit/TMD_models/CORPORAL-TOO.TMD
build/bootedit/TMD_models/CORPORAL.TMD
build/bootedit/TMD_models/cubes.TMD
build/bootedit/TMD_models/Danger 1.tmd
build/bootedit/TMD_models/Danger 2.tmd
build/bootedit/TMD_models/dentro.tmd
build/bootedit/TMD_models/DIAMOND.TMD
build/bootedit/TMD_models/DINO.TMD
build/bootedit/TMD_models/ENEMY.TMD
build/bootedit/TMD_models/espada.TMD
build/bootedit/TMD_models/espada2.TMD
build/bootedit/TMD_models/espada3.TMD
build/bootedit/TMD_models/espada4.TMD
build/bootedit/TMD_models/espada5.TMD
build/bootedit/TMD_models/ESPIRAL.TMD
build/bootedit/TMD_models/Eulenspiegel.tmd
build/bootedit/TMD_models/fc7.TMD
build/bootedit/TMD_models/Flammable 1.tmd
build/bootedit/TMD_models/Flammable 2.tmd
build/bootedit/TMD_models/FLOWER-GOLD.TMD
build/bootedit/TMD_models/FLOWER-ORANGE.TMD
build/bootedit/TMD_models/FLOWER-REDORANGE.TMD
build/bootedit/TMD_models/FLOWER-white.TMD
build/bootedit/TMD_models/FLOWER.TMD
build/bootedit/TMD_models/Fuego.TMD
build/bootedit/TMD_models/Geher Ossi.tmd
build/bootedit/TMD_models/Geher Wessi.tmd
build/bootedit/TMD_models/geosphere.TMD
build/bootedit/TMD_models/GIRL.TMD
build/bootedit/TMD_models/giulieta.tmd
build/bootedit/TMD_models/GWAVE14.TMD
build/bootedit/TMD_models/HEAD.TMD
build/bootedit/TMD_models/HIPOCAMP.TMD
build/bootedit/TMD_models/hoja_con_ramas.TMD
build/bootedit/TMD_models/KIRBY.TMD
build/bootedit/TMD_models/KIRBYB.TMD
build/bootedit/TMD_models/Kommunistenstern.tmd
build/bootedit/TMD_models/Laser 1.tmd
build/bootedit/TMD_models/Laser 2.tmd
build/bootedit/TMD_models/LAYDION.TMD
build/bootedit/TMD_models/laydion2.TMD
build/bootedit/TMD_models/LEG.TMD
build/bootedit/TMD_models/MADO.TMD
build/bootedit/TMD_models/mAlaexyz' erstes Smiley.TMD
build/bootedit/TMD_models/MEGA.TMD
build/bootedit/TMD_models/MEGA01.TMD
build/bootedit/TMD_models/MEGA2.TMD
build/bootedit/TMD_models/MEGA3.TMD
build/bootedit/TMD_models/missile.TMD
build/bootedit/TMD_models/MODEL1.TMD
build/bootedit/TMD_models/MODEL2.TMD
build/bootedit/TMD_models/MODEL3.TMD
build/bootedit/TMD_models/MODEL4.TMD
build/bootedit/TMD_models/N64.TMD
build/bootedit/TMD_models/Natostern.tmd
build/bootedit/TMD_models/nave.TMD
build/bootedit/TMD_models/NES_BLUE.TMD
build/bootedit/TMD_models/Nes.tmd
build/bootedit/TMD_models/NESBLUE.TMD
build/bootedit/TMD_models/NESLOGO.TMD
build/bootedit/TMD_models/NESNEW.TMD
build/bootedit/TMD_models/NESTEST.TMD
build/bootedit/TMD_models/nin64.TMD
build/bootedit/TMD_models/NINBLUE.TMD
build/bootedit/TMD_models/NINGREEN.TMD
build/bootedit/TMD_models/Ninlogo.tmd
build/bootedit/TMD_models/NINYELL.TMD
build/bootedit/TMD_models/Nota.tmd
build/bootedit/TMD_models/ODEN.TMD
build/bootedit/TMD_models/OVNI.TMD
build/bootedit/TMD_models/OVNI2.TMD
build/bootedit/TMD_models/paperclip.TMD
build/bootedit/TMD_models/pelota-green.TMD
build/bootedit/TMD_models/pelota.TMD
build/bootedit/TMD_models/Poison 1.tmd
build/bootedit/TMD_models/Poison 2.tmd
build/bootedit/TMD_models/PS-1.tmd
build/bootedit/TMD_models/PS-2.tmd
build/bootedit/TMD_models/PS-3.tmd
build/bootedit/TMD_models/PS-4.tmd
build/bootedit/TMD_models/PS-5.tmd
build/bootedit/TMD_models/PS-6.tmd
build/bootedit/TMD_models/PS-7.tmd
build/bootedit/TMD_models/PS-8.tmd
build/bootedit/TMD_models/PS-9.tmd
build/bootedit/TMD_models/PS.TMD
build/bootedit/TMD_models/PS2_3D.TMD
build/bootedit/TMD_models/Ps2-3d.tmd
build/bootedit/TMD_models/Ps2.tmd
build/bootedit/TMD_models/psx.tmd
build/bootedit/TMD_models/psxchile.TMD
build/bootedit/TMD_models/radiactivo.TMD
build/bootedit/TMD_models/RADIO.TMD
build/bootedit/TMD_models/Radioactive 1.tmd
build/bootedit/TMD_models/Radioactive 2.tmd
build/bootedit/TMD_models/RCUBE.TMD
build/bootedit/TMD_models/Running Man.tmd
build/bootedit/TMD_models/Seepferdchen.tmd
build/bootedit/TMD_models/ship.TMD
build/bootedit/TMD_models/SHUTTLE1.TMD
build/bootedit/TMD_models/silver-sword.TMD
build/bootedit/TMD_models/smiley1.TMD
build/bootedit/TMD_models/SMILEY2.TMD
build/bootedit/TMD_models/soldier.TMD
build/bootedit/TMD_models/Sphere.tmd
build/bootedit/TMD_models/SPIKE.TMD
build/bootedit/TMD_models/Spikey gelb.tmd
build/bootedit/TMD_models/SPIKEY.TMD
build/bootedit/TMD_models/sru.tmd
build/bootedit/TMD_models/Stachelstern.tmd
build/bootedit/TMD_models/STAR.TMD
build/bootedit/TMD_models/STAR4.TMD
build/bootedit/TMD_models/Steher Ossi.tmd
build/bootedit/TMD_models/sword-au-ag.TMD
build/bootedit/TMD_models/sword-BLOOD.TMD
build/bootedit/TMD_models/sword.TMD
build/bootedit/TMD_models/sword2.TMD
build/bootedit/TMD_models/TAZA.TMD
build/bootedit/TMD_models/theship.tmd
build/bootedit/TMD_models/tor.tmd
build/bootedit/TMD_models/TORNADO.TMD
build/bootedit/TMD_models/Torso.tmd
build/bootedit/TMD_models/TROMPO.TMD
build/bootedit/TMD_models/TUERCA.TMD
build/bootedit/TMD_models/TVN.TMD
build/bootedit/TMD_models/TVN001.TMD
build/bootedit/TMD_models/TVN01.TMD
build/bootedit/TMD_models/TVN1.TMD
build/bootedit/TMD_models/TVN002.TMD
build/bootedit/TMD_models/TVN02.TMD
build/bootedit/TMD_models/tvn2.TMD
build/bootedit/TMD_models/TVN003.TMD
build/bootedit/TMD_models/TVN004.TMD
build/bootedit/TMD_models/TVNCHILE.TMD
build/bootedit/TMD_models/TVNTEST.TMD
build/bootedit/TMD_models/TVNTEST2.TMD
build/bootedit/TMD_models/UCTEST.TMD
build/bootedit/TMD_models/UCTEST01.TMD
build/bootedit/TMD_models/UCTEST02.TMD
build/bootedit/TMD_models/UCTEST03.TMD
build/bootedit/TMD_models/UCTV.TMD
build/bootedit/TMD_models/uctv2.TMD
build/bootedit/TMD_models/uctv3.TMD
build/bootedit/TMD_models/uctv4.TMD
build/bootedit/TMD_models/UCTVTEST.TMD
build/bootedit/TMD_models/Ufosm.tmd
build/bootedit/TMD_models/Vtl.tmd
build/bootedit/TMD_models/warrior.TMD
build/bootedit/TMD_models/We.tmd
build/bootedit/TMD_models/wrench.TMD
build/bootedit/TMD_models/Ww11.tmd
build/bootedit/TMD_models/x.TMD
build/bootedit/TMD_models/XSOLDIER.TMD
build/bootedit/TMD_models/xwarrior.TMD
build/bootedit/TMD_models/Yokonobi.tmd
build/bootedit/TMD_models/YUGIB.TMD
build/bootedit/TMD_models/YUGIOH.TMD
build/bootedit/TMD_models/yyy.TMD
build/bootedit/TMD_models/ZSOLDIER.TMD
mods/PracticeCodes/buildList.txt
mods/PracticeCodes/debug/dep/gamestate_fairy_fix.dep
mods/PracticeCodes/debug/dep/title_nop.dep
mods/PracticeCodes/debug/obj/gamestate_fairy_fix.o
mods/PracticeCodes/debug/obj/title_nop.o
mods/PracticeCodes/output/asmgamestate_fairy_fixs.bin
mods/PracticeCodes/output/asmtitle_nops.bin
mods/PracticeCodes/asm/test.dep
mods/PracticeCodes/asm/test.o
mods/PracticeCodes/output/asmtests.bin
mods/PracticeCodes/backup/IGT with FPS.c
build/Spyro 1 Practice Codes PS1 & EMU.zip
build/Spyro 1 Practice Codes PS2.zip
build/spyro1_PracticeCodes_PS2.xdelta
build/bootedit/spyro1_PracticeCodes_PS2.zip
build/spyro1_PracticeCodes_PS1_EMU.xdelta
build/bootedit/Spyro1_PracticeCodes_PS1_EMU.zip
build/spyro1_Practice_Codes_PS1.zip
build/spyro1_PracticeCodes_PS1.xdelta
build/bootedit/spyro1_PracticeCodes.cue
build/bootedit/spyro1_PracticeCodes.bin
mods/PracticeCodes/debug/dep/hexedit.dep
mods/PracticeCodes/debug/obj/hexedit.o
mods/PracticeCodes/output/HexEdit.bin
mods/PracticeCodes/src/hexedit.dep
mods/PracticeCodes/src/hexedit.o
build/Practice Codes Alt Button Combo.zip
build/bootedit/spyro1_PracticeCodes_PS1_ALTBUTTONS.xdelta
build/bootedit/spyro1_PracticeCodes_PS1_ALTBUTTONS.zip
build/bootedit/spyro1_PracticeCodes_PS2_ALTBUTTONS.xdelta
build/bootedit/spyro1_PracticeCodes_PS2_ALTBUTTONS.zip
.gitignore
.gitignore
TODO.txt
build/bootedit/ratcode.zip
mods/PracticeCodes/debug/dep/multi_tap.dep
mods/PracticeCodes/debug/dep/rat_code.dep
mods/PracticeCodes/debug/obj/multi_tap.o
mods/PracticeCodes/debug/obj/rat_code.o
mods/PracticeCodes/output/srcrat_codec.bin
mods/PracticeCodes/src/hexedit.c
mods/PracticeCodes/src/rat_move
tempCodeRunnerFile.exe
build/bootedit/spyro1_PracticeCodes_PS1.zip
build/bootedit/spyro1_PracticeCodes_PS1.xdelta
build/bootedit/spyro1_PracticeCodes_PS2.xdelta
build/bootedit/spyro1_PracticeCodes.xml
mods/PracticeCodes/output/asmheads.bin
mods/PracticeCodes/output/head.bin
mods/PracticeCodes/debug/obj/head.o
mods/PracticeCodes/debug/obj/head_patch.o
mods/PracticeCodes/debug/dep/head.dep
mods/PracticeCodes/debug/dep/head_patch.dep
build/spyro1_PracticeCodes/ASMHEADS.BIN
build/spyro1_PracticeCodes/HEAD.BIN
mods/PracticeCodes/debug/dep/credits_skip.dep
mods/PracticeCodes/debug/dep/main_updates.dep
mods/PracticeCodes/debug/obj/main_updates.o
mods/PracticeCodes/debug/obj/credits_skip.o
build/spyro1_modded.bin
build/spyro1_modded.cue
mods/PracticeCodes/debug/dep/loot_plane.dep
mods/PracticeCodes/debug/obj/loot_plane.o
mods/PracticeCodes/debug/dep/supercharge.dep
mods/PracticeCodes/debug/obj/supercharge.o
mods/PracticeCodes/src/credits_skip.dep
mods/PracticeCodes/src/credits_skip.o
bootscreen_text.txt
mods/PracticeCodes/src/supercharge.dep
mods/PracticeCodes/src/supercharge.o
mods/PracticeCodes/debug/obj/save_state.o
mods/PracticeCodes/debug/dep/save_state.dep
mods/PracticeCodes/src/IGT_OLD.c
mods/PracticeCodes/src/watch_memory.c
mods/PracticeCodes/src/test.c
mods/PracticeCodes/src/watch_memory.dep
mods/PracticeCodes/src/watch_memory.o
mods/PracticeCodes/src/save_state.dep
mods/PracticeCodes/src/save_state.o
mods/PracticeCodes/debug/dep/right_stick.dep
mods/PracticeCodes/debug/dep/save_geo.dep
mods/PracticeCodes/debug/obj/right_stick.o
mods/PracticeCodes/debug/obj/save_geo.o
mods/PracticeCodes/output/srcright_stickc.bin
mods/PracticeCodes/src/test2.c
build/spyro1/RAT_C_BE.BIN
build/spyro1_PracticeCodes/RAT_C_BE.BIN
mods/PracticeCodes/src/Untitled-1.c
mods/PracticeCodes/basic.ld
mods/PracticeCodes/output/srcIGTc.bin
mods/PracticeCodes/debug/dep/il_timer.dep
mods/PracticeCodes/debug/dep/manual_timer.dep
mods/PracticeCodes/debug/obj/il_timer.o
mods/PracticeCodes/debug/obj/manual_timer.o
mods/PracticeCodes/debug/dep/custom_menu.dep
mods/PracticeCodes/debug/obj/custom_menu.o
mods/PracticeCodes/output/srccustom_menuc.bin
mods/PracticeCodes/output/srcil_timerc.bin
mods/PracticeCodes/output/srcmanual_timerc.bin
mods/PracticeCodes/src/IGT.dep
mods/PracticeCodes/src/IGT.o
mods/PracticeCodes/debug/dep/cd_load.dep
mods/PracticeCodes/debug/obj/cd_load.o
mods/PracticeCodes/output/menu.bin
build/iopMemory.bin
build/shit.p2s
build/spyro1_PracticeCodes/MENU.BIN
build/spyro1_PracticeCodes/MENU2.BIN
mods/PracticeCodes/debug/dep/cd_load.dep
mods/PracticeCodes/debug/dep/custom_menu_2.dep
mods/PracticeCodes/debug/obj/cd_load.o
mods/PracticeCodes/debug/obj/custom_menu_2.o
mods/PracticeCodes/output/menu.bin
mods/PracticeCodes/output/menu2.bin
mods/PracticeCodes/debug/dep/draw_hud_moby.dep
mods/PracticeCodes/debug/dep/landing_timer.dep
mods/PracticeCodes/debug/obj/draw_hud_moby.o
mods/PracticeCodes/debug/obj/landing_timer.o
mods/PracticeCodes/src/cd_load.dep
mods/PracticeCodes/src/cd_load.o
build/bootedit/spyro1_PracticeCodes_DEKCARD_PS2.zip
build/bootedit/spyro1_PracticeCodes_IOP_PS2.zip
build/bootedit/spyro1_PracticeCodes_DECKARD_PS2.zip
